@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+BE+VLG:wght@100..400&display=swap');

:root{
    --primary-color: #021526;
    --secondary-color: #03346E;
    --terca-colot: #6EACDA;
    --white: #fff;

    --primary-font: "Playwrite BE VLG", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    padding: 1rem;
}

.navbar-title{
    color: var(--white);
}

.header{
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title{
    
    color: var(--white);
    font-family: var(--primary-font);
    text-align: center;
    font-size: 2rem;
    
}

.header-subtitle{
    
    color: var(--white);
    font-family: var(--primary-font);
    text-align: center;
    font-size: 2rem;
    
}

section{
    background-color: #021526;
}

