@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+BE+VLG:wght@100..400&display=swap');

:root{
    --primary-color: #021526;
    --secondary-color: #03346E;
    --terca-colot: #6EACDA;
    --white: #fff;

    --primary-font: "Playwrite BE VLG", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    padding: 1rem;
}

.navbar-title{
    color: var(--white);
}